* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(41, 41, 41);
    color: white;
    height: 100vh;
}

a {
    text-decoration: none;
}

.background {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(img/gumwall.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.logo {
    width: 70px;
    height: 70px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: clamp(3rem, 6vw, 6rem);
    font-weight: 600;
    margin-top: 50px;
    background-color: rgba(50, 190, 245, 0.2);
    height: 140px;
}

.credit {
    display: block;
    flex-direction: column;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.topInfo {
    margin-left: 30px;
    font-size: clamp(1.2rem, 3vw, 1.4rem);
    font-weight: 600;
}

.topInfo > p {
    overflow: hidden;
    max-width: 65ch;
}

.inputs {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 30px rgba(0,0,0,0.4);
    padding-left: 30px;
    padding-bottom: 40px;
}

input {
    display: block;
    outline: none;
    height: 25px;
    width: 220px;
    border-radius: 5px;
    border: none;
}

.form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.2rem;
}

fieldset {
    border: none;
    display: block;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 3rem;
}

.wrapper > div {
    justify-content: center;
    align-items: center;
}

.bottomInfo {
    padding: 30px;
}

.bottomInfo > p {
    font-size: 1.1rem;
    font-weight: 500;
}


button {
    background-color: rgb(9, 87, 139);
    color: white;
    height: 50px;
    width: 220px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    box-shadow: 0 0 2px black;
}

button:hover {
    filter: brightness(90%);
    cursor: pointer;
}

button:active {
    transform: translate(1px, 1px);
}

input:focus {
    border: 1.5px solid rgb(30, 119, 252);
}

input ~ span {
    display: inline-block;
    position: absolute;
    font-size: 14px;
    color: rgb(230, 47, 47);
    height: 25px;

}

.passwordError {
    width: 200px;
}

label {
    /* position: relative; */
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 600;
    letter-spacing: .15rem;
}

a:hover {
    filter: brightness(90%);
}

a:link {
    color: lightblue;
}

a:visited {
    color: rgb(132, 132, 212);
}

.validFirstName,
.validLastName,
.validEmail,
.validPhone,
.validPassword,
.validConfirmPassword {
    display: inline;
    /* position: absolute; */
    color: rgb(12, 248, 12);
    font-size: 1.2em;
    margin: 5px;
    height: auto;
}

@media only screen and (max-width: 850px) {

    * {
        /* border: 1px solid red; */
    }
    
    body {
        grid-template-columns: 1fr;
        text-align: center;
        height: 0;
    }

    .background {
        height: 250px;
    }
    .title {
        height: 90px;
        margin-top: 20px;
    }

    .credit {
        bottom: 0;
        font-size: .9rem;
        font-weight: 800;
    }

    .icon {
        height: 40px;
        width: 40px;
    }

    .container > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .wrapper {
        justify-content: center;
        gap: 2.25rem;
    }

    .topInfo,
    .inputs,
    .bottomInfo {
        padding: 0;
        margin: 0;
    }

    .topInfo {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .topInfo > p {
        margin-top: 0;
        max-width: 40ch;
    }

    .inputs {
        padding: 0;
    }

    fieldset > h2 {
        font-size: 1.3rem;
    }

    input ~ span {
        position: static;
        font-size: 13px;
    }

    .wrapper > div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    label {
        font-size: 1.5vh;
    }

    button {
        width: 200px;
        height: 40px;
    }

    .bottomInfo {
        padding-top: 1rem;
    }

    .bottomInfo > p {
        font-size: 1rem;
    }
}